.cta-section-form {
  padding: 105px 30px 65px 30px;

  h2 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding-bottom: 55px;
  }

  .form-control {
    background-color: #f6f6f6;
    border-radius: 0px;
    border: 1px solid transparent;
    font-size: 14px;
    color: #666666;
    transition: all .3s;
    padding: 14px 16px;
    line-height: 20px;

    display: block;
    width: 100%;
    padding: 15px;
    outline: 0;
    font-size: inherit;
    font-family: inherit;
    appearance: none;
    box-sizing: border-box;

    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 11px BlinkMacSystemFont;
  }

  .cta-form-wrap {
    padding: 0 30px;
  }

  .cta-details-wrap {
    padding: 0 30px;
  }

  h3 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 0px;
  }

  .featurebox-icon-wrap{
    display: table-cell;
    padding-right: 25px;
    vertical-align: top;
    width: 40px;

    i {
      font-size: 23px;
    }

    .fa-mobile {
      font-size: 30px;
      padding-left: 5px;
      margin-top: -7px;
    }
  }

  .featurebox-content-wrap {
    display: table-cell;
    vertical-align: top;
    table-layout: fixed;
  }

  p {
    font-family: 'Droid Serif', serif;
    color: #666666;
    font-size: 15px;
    margin: 0px;
  }

  .cta-featurebox {
    padding:0 0 5px;
  }
}

#map {
  height: 100%;
  min-height: 432px;
  margin-bottom: -80px;
}

