// /* home css elements */
.section-home-top {
  margin-top: -30px;

  .carousel-caption {
    bottom: 45%;

    h1 {
      text-transform: uppercase;
      font-size: 70px;
      font-weight: 400;
      color: #FFF;
    }
  }
}

.section-home-news {
  padding: 0 0 100px 0;
  background: #FFF;

  .media-wrapper {
    padding: 80px 0 0 0;
    background: #F5F5F5;
  }

  .media-wrapper-last {
    background: #FFF;
    margin-top: -160px;

    .media-body {
      vertical-align: bottom;
    }
  }

  .media {
    max-width: 860px;
    margin: 0 auto;
  }

  .media-object {
    max-width: 380px;
  }

  .media-heading {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 500;
  }

  .media-body {
    p {
      padding: 20px 0;
    }
  }
}

.section-home-video {
  background-image: url("/assets/home/home-moves.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 220px 0;

  .txt-video-moves {
    text-align: center;
    color: #FFF;
  }
}

.section-home-projects {
  .txt-projects {
    padding: 60px 0 40px;
    font-size: 19px;
    font-weight: 400;
  }

  .img-home-projects-wrapper {
    padding-right: 0px;
    padding-left: 0px;
  }

  .img-home-projects {
    width: 100%;
  }
}

.home-section-statistics {
  background: #323334;
  padding: 50px 20px 100px 20px;

  .title {
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    padding: 20px 0 45px;
  }

  .statistic-content-wrap {
    text-align: center;
    .number {
      color: #FC782B;
      font-size: 65px;
      font-weight: bolder;
      margin: 0;
    }
    .text {
      color: #FFF;
      font-size: 17px;
      font-weight: 500;
      max-width: 210px;
      margin: 0 auto;
      text-transform: uppercase;
      line-height: initial;
    }
  }
}



.home-section-brands {
  padding: 20px 0 20px 0;

  .text-brand-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    padding: 40px 0;
  }

  .home-brand-wrapper {
    float: left;
    width: 20%;
    padding: 20px 20px;
    cursor: pointer;
    margin: 10px auto;
    text-align: center;
    vertical-align: middle;
    height: 120px;

    img {
      opacity: 0.2;
      transition: .5s ease-in;
      max-height: 70px;
      max-width: 100%;
    }
    img:hover {
      opacity: 1;
    }
  }

}
